body {
  text-align: center;
  background-image: url(../img/back.jpg);
  color: #fff;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

img {
  width: 150px;
  height: 80px;
}

.col-2 {
background: none;
border: 1px solid #eee;
margin: 10px;
}

.btn {
margin: 10px;
}

.cars {
  background: none;
  border: 1px solid yellow;
  border-radius: 2px;
  margin: 5px;
  padding: 5px;
  font-size: 20px;
}
